@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Black Ops One", cursive;
  font-size: 1rem;
  color: #d1d4dc;
  background-color: #131c26;
  display: grid;
}

.content {
  height: 100%;
  width: 100%;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
}

.main-section {
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  justify-content: center;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Black Ops One", cursive;
  font-size: clamp(1.75rem, 3vw, 3rem);
}

.footer p {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 60px;
  justify-self: end;
}

@media (max-width: 600px) {
  .content {
    padding: 20px;
  }
}
