.left-section {
  display: grid;
  justify-items: center;
  align-items: center;
}

.right-section {
  position: relative;
  display: grid;
  grid-template-rows: 100px 100px 1fr;
  justify-items: center;
  align-items: center;
}

.start-menu-table {
  height: 400px;
  width: 400px;
  display: grid;
}

tbody {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.table-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.table-cell {
  border: 1px solid #131c26;
  background-color: #d1d4dc;
}

.instructions-one {
  font-size: 1.5rem;
  align-self: self-end;
}

.port {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-rows: minmax(min-content, max-content);
  justify-content: center;
}

.carrier-berth,
.battleship-berth,
.destroyer-berth,
.submarine-berth,
.patrol-boat-berth {
  padding: 10px;
}

#carrier.horizontal,
#battleship.horizontal,
#destroyer.horizontal,
#submarine.horizontal,
#patrol-boat.horizontal {
  height: 35px;
}

#carrier.horizontal {
  width: 200px;
}

#battleship.horizontal {
  width: 160px;
}

#destroyer.horizontal,
#submarine.horizontal {
  width: 120px;
}

#patrol-boat.horizontal {
  width: 80px;
}

#carrier.vertical,
#battleship.vertical,
#destroyer.vertical,
#submarine.vertical,
#patrol-boat.vertical {
  width: 35px;
}

#carrier.vertical {
  height: 200px;
}

#battleship.vertical {
  height: 160px;
}

#destroyer.vertical,
#submarine.vertical {
  height: 120px;
}

#patrol-boat.vertical {
  height: 80px;
}

#carrier,
#battleship,
#destroyer,
#submarine,
#patrol-boat {
  font-size: 0.75rem;
  color: #030201;
  background-color: #0099d6;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  position: absolute;
  height: 80px;
  width: 160px;
  font-size: 1.25rem;
  background-color: #18bc9c;
  border: none;
  border-radius: 5px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn:hover {
  background-color: #1bd3af;
  height: 85px;
  width: 165px;
}

@media (max-width: 600px) {
  .start-menu-table {
    height: 300px;
    width: 300px;
  }

  #carrier.horizontal,
  #battleship.horizontal,
  #destroyer.horizontal,
  #submarine.horizontal,
  #patrol-boat.horizontal {
    height: 25px;
  }

  #carrier.horizontal {
    width: 150px;
  }

  #battleship.horizontal {
    width: 120px;
  }

  #destroyer.horizontal,
  #submarine.horizontal {
    width: 90px;
  }

  #patrol-boat.horizontal {
    width: 60px;
  }

  #carrier.vertical,
  #battleship.vertical,
  #destroyer.vertical,
  #submarine.vertical,
  #patrol-boat.vertical {
    width: 25px;
  }

  #carrier.vertical {
    height: 150px;
  }

  #battleship.vertical {
    height: 120px;
  }

  #destroyer.vertical,
  #submarine.vertical {
    height: 90px;
  }

  #patrol-boat.vertical {
    height: 60px;
  }
}
